@model WebApplication1.Models.Employee

@{
    ViewData["Title"] = "Employee Details";
}

<h1>Details</h1>
<br />
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organization.Name)
        </dd>
    </dl>
</div>
<br />

<div>
    <h2>Trainings</h2>
    <hr />
    @if (Model.TrainingEmployees != null && Model.TrainingEmployees.Any())
    {
        <table class="table table-striped" id="TableOne">
            <thead>
                <tr>
                    <th>Training Date</th>
                    <th>Purpose of Training</th>
                    <th>Place of Training</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trainingEmployee in Model.TrainingEmployees)
                {
                    <tr>
                        <td>@trainingEmployee.Training.TrainingDate.ToString("dd/MM/yyyy")</td>
                        <td>@trainingEmployee.Training.PurposeOfTraining</td>
                        <td>@trainingEmployee.Training.PlaceOfTraining</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No trainings assigned to this employee.</p>
    }
</div>
<br />

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a> |
    <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-outline-danger">Delete</a>
</div>
