@model WebApplication1.Models.Organization

@{
    ViewData["Title"] = "Organization Details";
}

<h1>Details</h1>

<div>
    <br />
    <h4>Organization</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<br />

<div>
    <h4>Trainings</h4>
    <hr />
    @if (Model.Training != null && Model.Training.Any())
    {
        <table class="table table-striped" id="TableOne">
            <thead>
                <tr>
                    <th>Training Date</th>
                    <th>Place of Training</th>
                    <th>Purpose of Training</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var training in Model.Training)
                {
                    <tr>
                        <td>@training.TrainingDate.ToString("dd/MM/yyyy")</td>
                        <td>@training.PlaceOfTraining</td>
                        <td>@training.PurposeOfTraining</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No trainings available for this organization.</p>
    }
</div>
<br />

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a> |
    <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-outline-danger">Delete</a>
</div>
